



/* ======================================= */
/* 320px–768px: Small Phones */
/* ======================================= */
@media (max-width: 480px) {
}


/* ======================================= */
/* 320px–768px: Tablets & Phones */
/* ======================================= */
@media (min-width: 481px) and (max-width: 768px) {
}


/* ======================================= */
/* 320px–768px: Laptops & Large Tablets */
/* ======================================= */
@media (min-width: 769px) and (max-width: 1279px) {
}


/* ======================================= */
/* 320px–768px: Large Desktops */
/* ======================================= */
@media (min-width: 1280px) {
}